* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: hidden !important;
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1.5px solid #444;
  background: skyblue;
}

#close{
  width: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}

#qr-reader {
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  /* background: pink; */
  /* background: #444; */
  border: none !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

video {
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

#gallery {
  word-break: break-all;
  position: absolute;
  top: 63vh;
  left: 50%;
  transform: translateX(-50%);
  background: #ffff;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 18px 50px;
  z-index: 2;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  min-width: fit-content;
}
#gallery > img {
  width: 20px;
  margin: 0 6px;
  aspect-ratio: 1 / 1;
}

#qr-shaded-region > div:nth-child(1),
#qr-shaded-region > div:nth-child(2) {
  top: -30px !important;
  width: 100px !important;
  height: 10px !important;
}
#qr-shaded-region > div:nth-child(3),
#qr-shaded-region > div:nth-child(4) {
  top: 520px !important;
  height: 10px !important;
  width: 100px !important;
}
#qr-shaded-region > div:nth-child(6),
#qr-shaded-region > div:nth-child(5) {
  left: -20px !important;
  height: 100px !important;
  width: 10px !important;
}

#qr-shaded-region > div:nth-child(7),
#qr-shaded-region > div:nth-child(8) {
  right: -30px !important;
  height: 100px !important;
  width: 10px !important;
}

#qr-shaded-region > div:nth-child(6),
#qr-shaded-region > div:nth-child(8) {
  top: 430px !important;
  border-radius: 8px 8px 0 0;
}

#qr-shaded-region > div:nth-child(5),
#qr-shaded-region > div:nth-child(7) {
  top: -30px !important;
  border-radius: 0 0 8px 8px;
}

#qr-shaded-region > div:nth-child(6),
#qr-shaded-region > div:nth-child(5) {
  left: -30px !important;
}

#qr-shaded-region > div:nth-child(1),
#qr-shaded-region > div:nth-child(3) {
  left: -20px !important;
}

#qr-shaded-region > div:nth-child(4),
#qr-shaded-region > div:nth-child(2) {
  right: -20px !important;
}

#qr-shaded-region > div:nth-child(1),
#qr-shaded-region > div:nth-child(3) {
  border-radius: 0px 8px 8px 0px;
}

#qr-shaded-region > div:nth-child(2),
#qr-shaded-region > div:nth-child(4) {
  border-radius: 8px 0 0 8px;
}

#qr-shaded-region > div:nth-child(1) {
  background: #ea4335 !important;
}

#qr-shaded-region > div:nth-child(5) {
  background: #ea4335 !important;
  border-top-left-radius: 8px;
}
#qr-shaded-region > div:nth-child(6) {
  background: #4285f4 !important;
  border-bottom-left-radius: 8px;
}
#qr-shaded-region > div:nth-child(3) {
  background: #4285f4 !important;
}
#qr-shaded-region > div:nth-child(7) {
  background: #fbbc05 !important;
  border-top-right-radius: 8px;
}
#qr-shaded-region > div:nth-child(2) {
  background: #fbbc05 !important;
}
#qr-shaded-region > div:nth-child(8) {
  background: #34a853 !important;
  border-bottom-right-radius: 8px;
}
#qr-shaded-region > div:nth-child(4) {
  background: #34a853 !important;
}

span:nth-child(2) > button:nth-child(2) {
  opacity: 0 !important;
}

span:nth-child(2) > button:nth-child(1) {
  opacity: 0 !important;
}

#qr-reader img,
#qr-reader__dashboard_section_fsr > span,
#qr-reader__filescan_input,
#qr-reader__header_message,
#qr-reader__dashboard_section_swaplink
 {
  opacity: 0 !important;
}
