* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 120vh;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: hidden !important;
  transform: translateY(-20vh);
}
#overlay {
  width: 100vw;
  height: 120vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1.5px solid #444;
  cursor: pointer;
}

#qr-reader__camera_permission_button {
  cursor: pointer;
}

#close {
  width: 35px;
  position: absolute;
  top: 32vh;
  left: 10px;
  z-index: 5;
}

#close img {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

#qr-reader {
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  border: none !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#border {
  width: 80%;
  aspect-ratio: 1;
  position: absolute;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  pointer-events: none;
}
#bimg {
  transform: translateX(-7px);
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#roundB {
  pointer-events: none;
  width: 60vw;
  box-sizing: initial;
  aspect-ratio: 1;
  position: absolute;
  border: solid 2000px rgba(0, 0, 0, 0.314);
}

#gallery {
  word-break: break-all;
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  padding: 15px 20px;
  z-index: 2;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  min-width: fit-content;
}
#gallery > img {
  width: 25px;
  margin: 0 10px;
  aspect-ratio: 1 / 1;
}
#qr-shaded-region {
  visibility: hidden;
}
span:nth-child(2) > button:nth-child(2) {
  opacity: 0 !important;
}
span:nth-child(2) > button:nth-child(1) {
  opacity: 0 !important;
}
#qr-reader img,
#qr-reader__dashboard_section_fsr > span,
#qr-reader__filescan_input,
#qr-reader__header_message,
#qr-reader__dashboard_section_swaplink {
  opacity: 0 !important;
}

#qr-reader__camera_permission_button,
#qr-reader__dashboard_section_csr {
  visibility: hidden;
}

#qr-reader__camera_selection {
  width: 50%;
  height: 90px;
  position: absolute;
  top: 10vh;
  left: 25vw;
  font-size: 30px;
  border-radius: 3rem;
  padding: 20px;
  opacity: 0.9;
  outline: none;
}
