* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: hidden !important;
}
#overlay{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}


button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1.5px solid #444;
  cursor: pointer;
}

#qr-reader__camera_permission_button{
 cursor: pointer;
}

#close{
  width: 38px;
  position: absolute;
  top: 32vh;
  left: 20px;
  z-index: 5;
}

#close>img{
 cursor: pointer;
 width: 100%;
 height: 100%;
}

#qr-reader {
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  border: none !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#border{
  width: 80%;
  aspect-ratio: 1;
  position: absolute;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  pointer-events: none;
}
#bimg{
  transform: translateX(-7px);
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#roundB{
  pointer-events: none;
  width: 50vw;
  box-sizing: initial;
  aspect-ratio: 1;
  position: absolute;
  border: solid 2000px rgba(0, 0, 0, 0.314);
}


#gallery {
  word-break: break-all;
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 20px 55px;
  z-index: 2;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  min-width: fit-content;
}
#gallery > img {
  width: 23px;
  margin: 0 6px;
  aspect-ratio: 1 / 1;
}
#qr-shaded-region {
  visibility: hidden;
}
#qr-shaded-region > div:nth-child(1),
#qr-shaded-region > div:nth-child(2) {
  top: -30px !important;
  width: 100px !important;
  height: 10px !important;
}
#qr-shaded-region > div:nth-child(3),
#qr-shaded-region > div:nth-child(4) {
  top: 520px !important;
  height: 10px !important;
  width: 100px !important;
}
#qr-shaded-region > div:nth-child(6),
#qr-shaded-region > div:nth-child(5) {
  left: -20px !important;
  height: 100px !important;
  width: 10px !important;
}

#qr-shaded-region > div:nth-child(7),
#qr-shaded-region > div:nth-child(8) {
  right: -30px !important;
  height: 100px !important;
  width: 10px !important;
}

#qr-shaded-region > div:nth-child(6),
#qr-shaded-region > div:nth-child(8) {
  top: 430px !important;
  border-radius: 8px 8px 0 0;
}

#qr-shaded-region > div:nth-child(5),
#qr-shaded-region > div:nth-child(7) {
  top: -30px !important;
  border-radius: 0 0 8px 8px;
}

#qr-shaded-region > div:nth-child(6),
#qr-shaded-region > div:nth-child(5) {
  left: -30px !important;
}

#qr-shaded-region > div:nth-child(1),
#qr-shaded-region > div:nth-child(3) {
  left: -20px !important;
}

#qr-shaded-region > div:nth-child(4),
#qr-shaded-region > div:nth-child(2) {
  right: -20px !important;
}

#qr-shaded-region > div:nth-child(1),
#qr-shaded-region > div:nth-child(3) {
  border-radius: 0px 8px 8px 0px;
}

#qr-shaded-region > div:nth-child(2),
#qr-shaded-region > div:nth-child(4) {
  border-radius: 8px 0 0 8px;
}

#qr-shaded-region > div:nth-child(1) {
  background: #ea4335 !important;
}

#qr-shaded-region > div:nth-child(5) {
  background: #ea4335 !important;
  border-top-left-radius: 8px;
}
#qr-shaded-region > div:nth-child(6) {
  background: #4285f4 !important;
  border-bottom-left-radius: 8px;
}
#qr-shaded-region > div:nth-child(3) {
  background: #4285f4 !important;
}
#qr-shaded-region > div:nth-child(7) {
  background: #fbbc05 !important;
  border-top-right-radius: 8px;
}
#qr-shaded-region > div:nth-child(2) {
  background: #fbbc05 !important;
}
#qr-shaded-region > div:nth-child(8) {
  background: #34a853 !important;
  border-bottom-right-radius: 8px;
}
#qr-shaded-region > div:nth-child(4) {
  background: #34a853 !important;
}

span:nth-child(2) > button:nth-child(2) {
  opacity: 0 !important;
}

span:nth-child(2) > button:nth-child(1) {
  opacity: 0 !important;
}

#qr-reader img,
#qr-reader__dashboard_section_fsr > span,
#qr-reader__filescan_input,
#qr-reader__header_message,
#qr-reader__dashboard_section_swaplink
 {
  opacity: 0 !important;
}
