@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Radio+Canada:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
.gpay-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    width: 100%;
    /* height: 100vh; */
}
.circle{
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle svg{
    margin-top: 29vh;
    margin-left: .6rem;
    height: 13.4vh;
    width: 13.4vh;
    background: #1766D0;
    border-radius: 50%;
    padding: 3.2vh;
}
.info{
    margin-left: 4px;
    margin-top: 5.1rem;
    text-align: center;
}
.rupees{
    color: #222;
    font-size: 38px;
    font-weight: 400;
}
.service{
    margin-top: 1.1rem;
    font-size: 18px;
}
.name{
    font-size: 16px;
    margin-top: .2rem;
    color: rgb(59, 59, 59)
}
.footer{
    text-align:  center;
    margin-top: 9rem;
}
.footer p{
    margin-left: 8px;
    font-size: 15px;
}
.footer button{
    margin-top: 1.4rem;
    border: 1px solid #333;
    color:#1766D0;
    padding: 9px 24px;
    border-radius: 1.3rem;
    background: none;
    font-size: 14px;
    outline: none;
}